grisClaro=#efefef
azulObscuro=#2c3e50
verde=#27ae60
rojo=#c0392b

body
	header
		background url(../img/fondo3.jpg)no-repeat
		padding 10% 3%
		background-size 100% 100%
		color #fff
		position relative
		nav
			display none
		ul
			margin 0
			padding 0
		h1
			font-size 22px
			text-align center
			text-shadow 2px 2px 3px black
		h2
			font-size 16px
			font-style italic
			text-align center
			text-shadow 2px 2px 3px black
		&:after
			content ""
			position absolute 
			border-top 40px solid transparent
			border-left 160px solid #fff
			border-right 160px solid #fff
			border-bottom 0px solid transparent
			bottom 0
			left 0
section.historia
	h2
		text-align center
		margin 2% auto
	div.columnas
		p
			padding 2%
			font-size 16px
			margin 0
			text-align left
		p.segundoParrafo
			display none
		a
			text-decoration none
			background verde
			color #fff
			padding 1%
			display block
			margin 2% auto
			width 60%
			text-align center
			border-bottom 4px solid rojo