body header {
  background: url("../img/fondo3.jpg") no-repeat;
  padding: 10% 3%;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}
body header nav {
  display: none;
}
body header ul {
  margin: 0;
  padding: 0;
}
body header h1 {
  font-size: 22px;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
}
body header h2 {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
}
body header:after {
  content: "";
  position: absolute;
  border-top: 40px solid transparent;
  border-left: 160px solid #fff;
  border-right: 160px solid #fff;
  border-bottom: 0px solid transparent;
  bottom: 0;
  left: 0;
}
section.historia h2 {
  text-align: center;
  margin: 2% auto;
}
section.historia div.columnas p {
  padding: 2%;
  font-size: 16px;
  margin: 0;
  text-align: left;
}
section.historia div.columnas p.segundoParrafo {
  display: none;
}
section.historia div.columnas a {
  text-decoration: none;
  background: #27ae60;
  color: #fff;
  padding: 1%;
  display: block;
  margin: 2% auto;
  width: 60%;
  text-align: center;
  border-bottom: 4px solid #c0392b;
}
