@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body header {
  background: url("../img/fondo3.jpg") no-repeat;
  padding: 10% 3%;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}
body header nav {
  display: none;
}
body header ul {
  margin: 0;
  padding: 0;
}
body header h1 {
  font-size: 22px;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
}
body header h2 {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
}
body header:after {
  content: "";
  position: absolute;
  border-top: 40px solid transparent;
  border-left: 160px solid #fff;
  border-right: 160px solid #fff;
  border-bottom: 0px solid transparent;
  bottom: 0;
  left: 0;
}
section.historia h2 {
  text-align: center;
  margin: 2% auto;
}
section.historia div.columnas p {
  padding: 2%;
  font-size: 16px;
  margin: 0;
  text-align: left;
}
section.espacios {
  background: url("../img/espacios.jpg");
  background-size: 100% 100%;
  color: #fff;
  padding: 2% 2% 20% 2%;
  position: relative;
  margin-top: 10%;
}
section.espacios h2 {
  text-align: center;
  text-shadow: 2px 2px 3px #000;
  padding-top: 5%;
}
section.espacios p {
  font-weight: bold;
  width: 90%;
  margin: 5px auto 30px auto;
  text-shadow: 2px 2px 2px #000;
}
section.espacios:before {
  border-bottom: 55px solid transparent;
  border-top: 0px solid #00f;
  border-right: 320px solid #fff;
  border-left: 0px solid #008000;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
section.espacios:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0px solid #f00;
  border-right: 320px solid #fff;
  border-left: 0px solid #00f;
  border-top: 80px solid transparent;
}
section.leyenda {
  background: url("../img/leyenda.jpg");
  background-size: 100% 100%;
  color: #000;
  padding: 0% 2% 25% 2%;
  position: relative;
  margin-top: 1%;
}
section.leyenda h2 {
  text-align: center;
  margin: 0 0;
}
section.leyenda p {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  padding: 1%;
  font-weight: bold;
}
section.leyenda:after {
  content: "";
  position: absolute;
  border-bottom: 0px solid transparent;
  border-top: 65px solid transparent;
  border-left: 320px solid #fff;
  border-right: 0px solid transparent;
  bottom: 0;
  left: 0;
}
section.ubicacion {
  background: url("../img/fondoUbicacion.jpg");
  padding: 0% 2% 25% 2%;
  position: relative;
  margin-top: 1%;
  background-size: 100% 100%;
}
section.ubicacion h2 {
  margin: 0;
  text-align: center;
}
a {
  background: #a71414;
  border-bottom: 4px solid #c0392b;
  color: #fff;
  display: block;
  margin: 2% auto;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  width: 60%;
}
.segundoParrafo {
  display: none;
}
div.bolita {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  border: 3px solid #000;
  display: block;
  margin: 1% auto;
}
div.bolita p {
  font-family: Flaticon;
  text-align: center;
  display: block;
  margin: 8px auto 0 auto;
  font-size: 30px;
  color: #000;
  text-shadow: 2px 2px 2px #000;
}
p.iconHistoria:after {
  content: '\f100';
}
p.iconEspacios:after {
  content: '\f101';
}
p.iconLeyenda:after {
  content: '\f103';
}
p.iconUbicacion:after {
  content: '\f102';
}
