<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Ex-hacienda
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilo.css") 
body
	header
		img(src="img/logo.png" alt="logo")
		h1 Ex-hacienda Coahuixtla
		nav
			ul
				li Inicio
				li Historia
				li Espacio
				li Leyenda 
				li Ubicacion
	section.inicio
		a(href="#") Conocida en nuestro tiempo como la ex Hacienda de Coahuixtla, se encuentre en san pedro Apatlaco, en la ciudad, de Ayala, y fue edificada en 1587, por frailes dominicos. Pero antes de ser famosa, fue escenario de batallas reales entre los soldados del general elimino zapata y las fuerzas federales, en el ocaso del Porfiriato
	section.historia
		a(href="#") La Hacienda de San Antonio Coahuixtla empieza su existencia con la fundación del Trapiche de tracción animal a cargo de los Frailes Dominicos en el año de 1580. La Orden de Santo Domingo pagó $ 1,185.00 pesos por el ingenio fundado en los terrenos de los habitantes de Anenecuilco.
		img(src="img/historia.jpg" alt="historia")
	section.espacios
		a(href="#") Una vez en el interior del Casco de la Hacienda se pueden apreciar cinco diferentes zonas que conforman la Hacienda.El Ingenio, La Casa Grande, La Fábrica de Aguardiente y Tienda de raya, Los Talleres, Establos, Caballerizas y Macheros.
	section.leyenda
		img(src="img/leyenda.jpg" alt="leyenda")
		a(href="#") La colosal Hacienda de Coahuixtla también es cuna de leyendas, como la del “Hijo del Diablo”, que tiene más de 100 años de antigüedad.
	section.ubicacion
		img(src="mapa.jpg" alt="mapa") 
